<!DOCTYPE HTML >
<html>
   <head>
      <title>SeenCode - Misc</title>
      <!-- link(rel="stylesheet" href="/style_misc.css") -->
      
   </head>
   <body >
      <canvas id="canvas"></canvas>
      script(src="/script_misc.js")
   </body>
</html>
