body {
    position: relative;
    overflow: hidden;
    background-size: 100vw 100vh;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
}

.draw {
    top: 0;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}

.box {
    border: 0.5px solid rgb(193, 193, 193);
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-num {
    font-size: 50px;
    font-weight: bold;
    color: rgb(214, 214, 214);
}

.title-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    background-color: rgb(63, 80, 233);
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    font-weight: 700;
}

.data-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}